* {
  box-sizing: border-box;
}

.icon1024X1024 {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  width: 1024px;
  height: 1024px;
  overflow: hidden;

  .group9007 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    margin-right: -45px;
    padding: 282px 116px 339px 71px;
    background-image: url(../image/mlak109u-u1l57dy.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .logo {
      display: inline-flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      row-gap: 52px;

      .group9060 {
        position: relative;
        flex-shrink: 0;
        width: 861px;
        height: 176px;

        .quizze {
          position: absolute;
          top: 14px;
          left: 7px;
          width: 855px;
          height: 163px;
          text-align: center;
          letter-spacing: 0;
          color: #5e34b9;
          font-family: Bangers, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 203px;
        }

        .quizze2 {
          position: absolute;
          top: 0;
          left: 0;
          width: 855px;
          height: 163px;
          text-align: center;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Bangers, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 203px;
        }
      }

      .frame2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        column-gap: 17px;

        .rectangle11 {
          position: absolute;
          top: 88px;
          left: 3px;
          border-radius: 0px 0px 34px 34px;
          background: #e6edfa;
          width: 183px;
          height: 98px;
        }

        .rectangle10 {
          position: absolute;
          top: 3px;
          left: 3px;
          border-radius: 34px;
          background: #f3f7ff;
          width: 183px;
          height: 183px;
        }

        .rectangle8 {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 34px;
          background: #ffffff;
          width: 190px;
          height: 190px;
        }

        .rectangle9 {
          position: absolute;
          top: 24px;
          left: -1px;
          border-radius: 34px;
          width: 190px;
          height: 190px;
          background-image: linear-gradient(
            180deg,
            #ffffff 82.29%,
            #b1c7fb 100%
          );
        }

        .rectangle7 {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 34px;
          box-shadow: 0px 14px 14px 0px #6987cf;
          width: 190px;
          height: 214px;
          background-image: linear-gradient(
            180deg,
            #ffffff 82.29%,
            #b1c7fb 100%
          );
        }

        .component1 {
          position: absolute;
          top: -9px;
          left: -11px;
          width: 190px;
          height: 214px;
        }

        .autoWrapper {
          position: relative;
          flex-shrink: 0;
          width: 211px;
          height: 232px;

          .group9 {
            position: absolute;
            top: 9px;
            left: 11px;
            width: 190px;
            height: 214px;
            rotate: -6deg;

            .g {
              position: absolute;
              top: 20px;
              left: 51px;
              width: 71px;
              height: 166px;
              text-align: center;
              letter-spacing: 0;
              color: #5e34b9;
              font-family: "Paytone One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 119px;
            }
          }
        }

        .autoWrapper2 {
          position: relative;
          flex-shrink: 0;
          width: 204px;
          height: 226px;

          .group10 {
            position: absolute;
            top: 6px;
            left: 7px;
            width: 190px;
            height: 214px;
            rotate: -4deg;

            .component2 {
              position: absolute;
              top: -6px;
              left: -7px;
              width: 190px;
              height: 214px;
            }

            .a {
              position: absolute;
              top: 22px;
              left: 67px;
              width: 44px;
              height: 166px;
              text-align: center;
              letter-spacing: 0;
              color: #5e34b9;
              font-family: "Paytone One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 119px;
            }
          }
        }

        .autoWrapper3 {
          position: relative;
          flex-shrink: 0;
          width: 204px;
          height: 226px;

          .group11 {
            position: absolute;
            top: 6px;
            left: 7px;
            width: 190px;
            height: 214px;
            rotate: 4deg;

            .component3 {
              position: absolute;
              top: -6px;
              left: -7px;
              width: 190px;
              height: 214px;

              .rectangle92 {
                position: absolute;
                top: 24px;
                left: 1px;
                border-radius: 34px;
                width: 190px;
                height: 190px;
                background-image: linear-gradient(
                  180deg,
                  #ffffff 82.29%,
                  #b1c7fb 100%
                );
              }
            }

            .m {
              position: absolute;
              top: 21px;
              left: 54px;
              width: 71px;
              height: 166px;
              text-align: center;
              letter-spacing: 0;
              color: #5e34b9;
              font-family: "Paytone One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 119px;
            }
          }
        }

        .autoWrapper4 {
          position: relative;
          flex-shrink: 0;
          width: 211px;
          height: 232px;

          .group12 {
            position: absolute;
            top: 9px;
            left: 11px;
            width: 190px;
            height: 214px;
            rotate: 6deg;

            .e {
              position: absolute;
              top: 19px;
              left: 39px;
              width: 95px;
              height: 166px;
              text-align: center;
              letter-spacing: 0;
              color: #5e34b9;
              font-family: "Paytone One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 119px;
            }
          }
        }
      }
    }
  }
}
