* {
  box-sizing: border-box;
}

.coverFacebook {
  position: relative;
  background: #ffffff;
  width: 1404px;
  height: 780px;
  overflow: hidden;

  .group9007 {
    position: absolute;
    top: 0;
    left: -92px;
    width: 1580px;
    height: 1024px;
  }

  .frame {
    position: absolute;
    top: 0;
    left: -216px;
    width: 1000px;
    height: 666px;
    overflow: hidden;
  }

  .frame9047 {
    position: absolute;
    top: 503px;
    left: 753px;
    width: 120px;
    height: 117px;
    overflow: hidden;
    rotate: -24deg;
  }

  .logo {
    display: inline-flex;
    position: absolute;
    top: 235px;
    left: 147px;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1px;
    width: 281px;
    height: 147px;
    row-gap: 16px;

    .group9060 {
      position: relative;
      flex-shrink: 0;
      width: 274px;
      height: 56px;

      .quizze {
        position: absolute;
        top: 4px;
        left: 2px;
        width: 272px;
        height: 52px;
        text-align: center;
        letter-spacing: 0;
        color: #5e34b9;
        font-family: Bangers, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 65px;
      }

      .quizze2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 272px;
        height: 52px;
        text-align: center;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Bangers, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 65px;
      }
    }

    .frame2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      column-gap: 5px;

      .rectangle92 {
        position: absolute;
        top: 8px;
        left: -1px;
        border-radius: 11px;
        width: 61px;
        height: 61px;
        background-image: linear-gradient(180deg, #ffffff 82.29%, #b1c7fb 100%);
      }

      .rectangle11 {
        position: absolute;
        top: 28px;
        left: 1px;
        border-radius: 0px 0px 11px 11px;
        background: #e6edfa;
        width: 58px;
        height: 31px;
      }

      .rectangle10 {
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 11px;
        background: #f3f7ff;
        width: 58px;
        height: 58px;
      }

      .rectangle8 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 11px;
        background: #ffffff;
        width: 61px;
        height: 61px;
      }

      .rectangle9 {
        position: absolute;
        top: 8px;
        left: 1px;
        border-radius: 11px;
        width: 61px;
        height: 61px;
        background-image: linear-gradient(180deg, #ffffff 82.29%, #b1c7fb 100%);
      }

      .rectangle7 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 11px;
        box-shadow: 0px 4px 4px 0px #6987cf;
        width: 61px;
        height: 68px;
        background-image: linear-gradient(180deg, #ffffff 82.29%, #b1c7fb 100%);
      }

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 67px;
        height: 74px;

        .group9 {
          position: absolute;
          top: 3px;
          left: 3px;
          width: 61px;
          height: 68px;
          rotate: -6deg;

          .component1 {
            position: absolute;
            top: -3px;
            left: -3px;
            width: 61px;
            height: 68px;
          }

          .g {
            position: absolute;
            top: 7px;
            left: 16px;
            width: 23px;
            height: 53px;
            text-align: center;
            letter-spacing: 0;
            color: #5e34b9;
            font-family: "Paytone One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 38px;
          }
        }
      }

      .autoWrapper2 {
        position: relative;
        flex-shrink: 0;
        width: 65px;
        height: 72px;

        .group10 {
          position: absolute;
          top: 2px;
          left: 2px;
          width: 61px;
          height: 68px;
          rotate: -4deg;

          .component2 {
            position: absolute;
            top: -2px;
            left: -2px;
            width: 61px;
            height: 68px;
          }

          .a {
            position: absolute;
            top: 7px;
            left: 21px;
            width: 14px;
            height: 53px;
            text-align: center;
            letter-spacing: 0;
            color: #5e34b9;
            font-family: "Paytone One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 38px;
          }
        }
      }

      .autoWrapper3 {
        position: relative;
        flex-shrink: 0;
        width: 65px;
        height: 72px;

        .group11 {
          position: absolute;
          top: 2px;
          left: 2px;
          width: 61px;
          height: 68px;
          rotate: 4deg;

          .component3 {
            position: absolute;
            top: -2px;
            left: -2px;
            width: 61px;
            height: 68px;
          }

          .m {
            position: absolute;
            top: 9px;
            left: 17px;
            width: 23px;
            height: 53px;
            text-align: center;
            letter-spacing: 0;
            color: #5e34b9;
            font-family: "Paytone One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 38px;
          }
        }
      }

      .autoWrapper4 {
        position: relative;
        flex-shrink: 0;
        width: 67px;
        height: 74px;

        .group12 {
          position: absolute;
          top: 3px;
          left: 3px;
          width: 61px;
          height: 68px;
          rotate: 6deg;

          .component4 {
            position: absolute;
            top: -3px;
            left: -3px;
            width: 61px;
            height: 68px;
          }

          .e {
            position: absolute;
            top: 6px;
            left: 12px;
            width: 30px;
            height: 53px;
            text-align: center;
            letter-spacing: 0;
            color: #5e34b9;
            font-family: "Paytone One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 38px;
          }
        }
      }
    }
  }

  .group9058 {
    position: absolute;
    top: 22px;
    left: 501px;
    width: 858px;
    height: 692px;
  }

  .group9036 {
    position: absolute;
    top: -206px;
    left: 391px;
    width: 768px;
    height: 1159px;
    rotate: -90deg;
  }

  .group9057 {
    display: flex;
    position: absolute;
    top: 175px;
    left: 593px;
    flex-direction: column;
    align-items: center;
    width: 620px;
    height: 326px;

    .intellectualGame {
      line-height: 99px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Signika, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 80px;
      font-weight: 700;
    }

    .hottestOfTheYear {
      line-height: 62px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Signika, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 700;
      text-transform: UPPERCASE;
    }

    .attractivePrizes {
      margin: 12px 0px 0px;
      line-height: 106px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Bangers, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 100px;
    }

    .simulateTheEnglandKi {
      margin: 12px 0px 0px;
      line-height: 35px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: 700;
    }
  }

  .frame9048 {
    position: absolute;
    top: 169px;
    left: 1237px;
    width: 82px;
    height: 91px;
    overflow: hidden;
    rotate: 18deg;
  }
}
