* {
  box-sizing: border-box;
}

.thumbnails {
  position: relative;
  background-color: #00000033;
  width: 1600px;
  height: 960px;
  overflow: hidden;
  background-image: linear-gradient(180deg, #2166ef 0%, #b254ec 100%);

  .group {
    position: absolute;
    top: -736px;
    left: -720px;
    width: 1600px;
    height: 1600px;

    .ellipse {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.025;
      border-radius: 50%;
      background: #ffffff;
      width: 1600px;
      height: 1600px;
    }

    .ellipse2 {
      position: absolute;
      top: 200px;
      left: 200px;
      opacity: 0.025;
      border-radius: 50%;
      background: #ffffff;
      width: 1200px;
      height: 1200px;
    }

    .ellipse3 {
      position: absolute;
      top: 400px;
      left: 400px;
      opacity: 0.025;
      border-radius: 50%;
      background: #ffffff;
      width: 800px;
      height: 800px;
    }

    .ellipse4 {
      position: absolute;
      top: 600px;
      left: 600px;
      opacity: 0.025;
      border-radius: 50%;
      background: #ffffff;
      width: 400px;
      height: 400px;
    }

    .bgPage {
      position: absolute;
      top: 889px;
      left: 715px;
      width: 437px;
      height: 660px;
    }
  }

  .bgPage2 {
    position: absolute;
    top: 0;
    right: -1px;
    width: 437px;
    height: 660px;
  }

  .frame9054 {
    display: inline-flex;
    position: absolute;
    top: 250px;
    left: 22px;
    align-items: flex-start;
    column-gap: 20px;
    width: 1555px;
    height: 638px;

    .a4 {
      flex-shrink: 0;
      border-radius: 20px;
      width: 295px;
      height: 638px;
      background-image: url(../image/mlak134d-2bkcgby.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 50px #00000026);
    }

    .a5 {
      flex-shrink: 0;
      border-radius: 20px;
      width: 295px;
      height: 638px;
      background-image: url(../image/mlak134d-ihjfx8s.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 50px #00000026);
    }

    .a1 {
      flex-shrink: 0;
      border-radius: 20px;
      width: 295px;
      height: 638px;
      background-image: url(../image/mlak134d-tjgk0ly.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 50px #00000026);
    }

    .a6 {
      flex-shrink: 0;
      border-radius: 20px;
      width: 295px;
      height: 638px;
      background-image: url(../image/mlak134d-ui421aq.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 50px #00000026);
    }

    .a2 {
      flex-shrink: 0;
      border-radius: 20px;
      width: 295px;
      height: 638px;
      background-image: url(../image/mlak134d-sono16q.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 50px #00000026);
    }
  }

  .frame9051 {
    display: inline-flex;
    position: absolute;
    top: 97px;
    left: 621px;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    border-radius: 100px;
    background: #5e34b9b2;
    padding: 20px 40px;
    width: 357px;
    height: 90px;

    .capa1 {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }

    .a32Screens {
      flex-shrink: 0;
      line-height: 49px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Signika, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
    }
  }
}
